

body{

}
header{
  padding: 10px;
  margin:  auto;
      max-width: 700px;
  text-align: center;
  background: red;
  color: white;
  font-size: 30px;}
.container{
background-color: white;
margin: 0 auto;
    max-width: 700px;
    padding: 14px;
  padding-bottom: 100px;
}

.money{
width: 20%;
      height: 50%;
      top: 25%;
      margin: 0 auto;
      position: relative;
      background:orange;
}
.zoom3 {
  text-align: center;
}

}
button {
  border: none;
  color: white;
  padding: 20px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.program{
   justify-content: center;
}
.zoom2{
  display: flex; justify-content: center;
}
.zoom{
  background-color: white;
  color: black;
  border: 2px solid #f44336;
font-size:40px;
}

.zoom:hover {
  background-color: #f44336;
  color: white;
}

@media only screen and (min-width: 600px) { 
    .body{
      background-color: white;
    }
.container{
    width:100%
   
}
   header{
  
      width: 100%;
  } 
    
    
}

@media screen and (min-width : 1284px){
  .body{background: url("http://static1.1.sqspcdn.com/static/f/461158/5247675/1262665090303/fist.gif?token=rB1xw5DtdV1pzV1Vh2qDu2i%2FxeQ%3D");   
    background-color: black;}
  }
